### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
pymoli_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_df = pd.read_csv(pymoli_file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
pymoli_df["SN"].value_counts().sum()

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#I repeated this code because I continue to receive Name:undefined errors
import pandas as pd
pymoli_file = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(pymoli_file)

# Run basic calculations
average_price = pymoli_df["Price"].mean()
total_revenue = pymoli_df["Price"].sum()
total_purchase = pymoli_df["Price"].count()
unique_items = len(pymoli_df["Item ID"].unique())

# Create a DataFrame to hold results
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,
                             "Total Revenue": [total_revenue],
                             "Number of Purchases": [total_purchase],
                             "Average Price": [average_price]})
summary_table

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     179        2379.77                  780       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
demograph = pymoli_df.Gender

In [7]:
gender_counts = demograph.value_counts()
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [8]:
gender_percent = demograph.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
gender_percent

Male                     83.6%
Female                   14.5%
Other / Non-Disclosed     1.9%
Name: Gender, dtype: object

In [9]:
gender_demographics = pd.DataFrame({'Number of players by gender' : gender_counts, 
                                    'Percentage of players by gender': gender_percent})
gender_demographics

,Number of players by gender,Percentage of players by gender
Male,652,83.6%
Female,113,14.5%
Other / Non-Disclosed,15,1.9%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Run basic calculations, grouped by gender
gender_average_price = pymoli_df.groupby('Gender') ["Price"].mean()
gender_total_revenue = pymoli_df.groupby('Gender') ["Price"].sum()
gender_total_purchase = pymoli_df.groupby('Gender') ["Price"].count()
gender_unique_items = len(pymoli_df.groupby('Gender') ["Item ID"].unique())

# Create a DataFrame to hold results
gender_purchasing = pd.DataFrame({"Number of Unique Items": gender_unique_items,
                             "Total Revenue": [gender_total_revenue],
                             "Number of Purchases": [gender_total_purchase],
                             "Average Price": [gender_average_price]})
gender_purchasing

,Number of Unique Items,Total Revenue,Number of Purchases,Average Price
0,3,Gender Female 361.94 Male ...,Gender Female 113 Male ...,Gender Female 3.203009 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
#Setup bins for ages, in 4 year increments
#max_age = pymoli_df['Age'].max()
#max_age

bins = [13, 17, 21, 25, 29, 33, 37, 41, 45, 49]#10
player_ages_labels = ["<10", "10-14", "15-19", "20-24", "25-29",
                       "30-34", "35-39","40-44", "45-49"]#9

In [12]:
pd.cut(pymoli_df['Age'], bins, labels=player_ages_labels).head()

0    10-14
1    35-39
2    15-19
3    15-19
4    15-19
Name: Age, dtype: category
Categories (9, object): ['<10' < '10-14' < '15-19' < '20-24' ... '30-34' < '35-39' < '40-44' < '45-49']

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame